{% extends "layouts/base.html" %}

{% load static i18n compress%}

{% block title %} FAQ {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}FAQ{% endblock page_name %}
{% block page_path %}FAQ{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- CodeMirror -->
<link rel="stylesheet" href="{% static "plugins/codemirror/codemirror.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/theme/monokai.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/fold/foldgutter.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/lint/lint.css" %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4>What are the concepts in this tool?</h4>
    <ul>
      <li><b>Schema</b>: <a href="https://json-schema.org/">JSON schema</a> to define the attributes of a node, schema
        for a list or graph.</li>
      <li><b>Node Type</b>: Defines the type of nodes and other related attributes.</li>
      <li><b>Edge Type</b>: Defines the allowed relationships between node types.</li>
      <li><b>Node</b>: An entity in the IT environment, can be hardware, software, service or anything.</li>
      <li><b>Edge</b>: Relationships between different nodes. Every node defines its outbound edges.</li>
      <li><b>List</b>: A list is created by selecting attributes and node selection criteria to display similar nodes in
        a HTML
        table. (e.g. a list of all services in the environment)</li>
      <li><b>Graph</b>: Similar to a list, but displayed as a diagram. (e.g. a diagram of all services and their
        relationships )
      </li>
    </ul>

    <h4>What are the prerequisites to create a new node?</h4>
    <p>Please follow the following procedures.</p>
    <ul>
      <li>Define the attributes schema for the node type. The schema will be rendered as HTML objects when creating
        the node.</li>
      <li>Define the node type. Select the previously defined schema for the node type.</li>
      <li>Define allowed edge types for the node type. Both in and out edge types should be defined.</li>
    </ul>

    <h4>How to define the JSON schema of a node?</h4>
    <p>The attributes schema of a node type will be used to render the HTML forms when creating the
      node. We are currently using <a href="https://github.com/json-editor/json-editor">json-editor</a> as the rendering
      engine. Please note that only JSON Schema 4 is support by the library. Besides the offical specification of JSON
      schema, a few UI related attributes can be added to the schema, refer to <a
        href="https://github.com/json-editor/json-editor#json-schema-support">JSON Schema Support</a> for more details.
      Here are a few recommendations from our side:
    </p>
    <ul>
      <li>For simplicity, do not use schema references.</li>
      <li>Do not define attributes whose type is an Array.</li>
      <li>Use <i>format</i> keyword for better display (e.g. datetime).</li>
      <li>Use <i>infoText</i> over <i>description</i>.</li>
      <li>Define <i>minimum</i> if it's a required attribute.</li>
    </ul>

    <h4>How are relationships between nodes defined?</h4>
    <p>First of all, the edge type should be already existing before you link two nodes. The edge is always defined in
      the node as it's outbound relationship. For example, if nodeA is part of nodeB, then the relationship
      <i>isPartOf</i> is defined in nodeA.
    </p>

    <h4>How to define a list?</h4>
    <p>First define the list schema in the Schemas section. Example:</p>
    <textarea>
{
  "$id": "list.json",
  "type": "object",
  "$schema": "http://json-schema.org/draft-04/schema#",
  "required": [
    "nodes",
    "title"],
  "properties": {
    "nodes": {
      "$ref": "#/definitions/nodes"
    },
    "title": {
      "type": "string",
      "title": "Title of Link"
    },
    "value": {
      "type": "string",
      "title": "Value"
    },
    "status": {
      "type": "string",
      "title": "Status"
    },
    "consumers": {
      "type": "string",
      "title": "Consumers"
    },
    "description": {
      "type": "string",
      "title": "Description"
    }
  },
  "definitions": {
    "nodes": {
      "type": "object",
      "title": "Nodes",
      "properties": {
        "edges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Type",
          "minItems": 0,
          "uniqueItems": true
        },
        "filter": {
          "$ref": "#/definitions/nodeFilterDef"
        },
        "orderby": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "order by",
          "minItems": 0,
          "uniqueItems": true
        },
        "selection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Selection",
          "minItems": 0,
          "uniqueItems": true
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Attributes",
          "minItems": 0,
          "uniqueItems": true
        },
        "edgeDirection": {
          "type": "string",
          "title": "filter edges by direction"
        }
      },
      "description": "The node object",
      "additionalProperties": false
    },
    "edgeFilterDef": {
      "type": "object",
      "title": "FilterDefintion",
      "required": [
        "types"],
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Types",
          "minItems": 0,
          "uniqueItems": true
        }
      },
      "description": "The filter definition for edges",
      "additionalProperties": false
    },
    "nodeFilterDef": {
      "type": "object",
      "title": "FilterDefintion",
      "required": [
        "types",
        "selection"],
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Types",
          "minItems": 1,
          "uniqueItems": true
        },
        "method": {
          "enum": [
            "all",
            "onlyWithEdges",
            "selection",
            "selectionWithNeighbors",
            "parents"],
          "type": "string",
          "title": "Filter method"
        },
        "selection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Selection",
          "minItems": 0,
          "uniqueItems": true
        }
      },
      "description": "The filter definition for nodes",
      "additionalProperties": false
    }
  },
  "additionalProperties": false
}
    </textarea>

    </code>
    </pre>
    <p>Then define the list in JSON format according to the schema. Remember to remove the comments. Example:</p>
    <textarea>
{
  "title": "Component Contacts",
  "value": "",
  "status": "Testing",
  "consumers": "",
  "description": "",
  "nodes": {
    "attributes": ["name", "contact", "responsible"], // Columns
    "edges": ["responsibleDepartment"], // Columns, regular expression accepted
    "filter": {
      "types" : ["Component"], // regular expression accepted
      "selection": [] // not supported yet
    },
    "orderby": ["name"], // not supported yet
    "edgeDirection": "out" // "in", "out", "both" or empty
  }
}
    </textarea>

    <h4>How to define a graph?</h4>
    <p>TODO</p>

    <h4>How to enable document update in Confluence when node changes?</h4>
    <p>TODO</p>

    <h4>How to enable synchronization with Gitlab for all the resources?</h4>
    <p>TODO</p>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- CodeMirror -->
<script src="{% static "plugins/codemirror/codemirror.js" %}"></script>
<script src="{% static "plugins/codemirror/mode/javascript/javascript.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldcode.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldgutter.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/brace-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/indent-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/comment-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/matchbrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/closebrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/lint.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/json-lint.js" %}"></script>
<script src="{% static "plugins/jsonlint/jsonlint.js" %}"></script>
<script src="{% static "plugins/codemirror/formatting.js" %}"></script>
<script>
  $(function () {
    const tas = document.querySelectorAll("textarea");
    for (var i = 0; i < tas.length; i++) {
      var te_json = tas[i]
      window.editor_json = CodeMirror.fromTextArea(te_json, {
        mode: "application/ld+json",
        theme: "monokai",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        // viewportMargin: Infinity,
        lint: false,
        autoCloseBrackets: true,
        extraKeys: {
          "Ctrl-Q": function (cm) {
            cm.foldCode(cm.getCursor());
          },
          "F7": function autoFormat(cm) {
            var totalLines = cm.lineCount();
            cm.autoFormatRange({
              line: 0,
              ch: 0
            }, {
              line: totalLines
            });
          },
          "Ctrl-Y": cm => CodeMirror.commands.foldAll(cm),
          "Ctrl-I": cm => CodeMirror.commands.unfoldAll(cm),
        },
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"]
      });
    }
  })

</script>
{% endcompress %}

{% endblock extra_js %}
