{% extends "layouts/base.html" %}

{% load static i18n compress%}

{% block title %} FAQ {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}FAQ{% endblock page_name %}
{% block page_path %}FAQ{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- CodeMirror -->
<link rel="stylesheet" href="{% static "plugins/codemirror/codemirror.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/theme/monokai.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/fold/foldgutter.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/lint/lint.css" %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 col-sm-3">
        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="vert-tabs-concepts-tab" data-toggle="pill" href="#vert-tabs-concepts"
            role="tab" aria-controls="vert-tabs-concepts" aria-selected="true">What are the concepts in this tool?</a>
          <a class="nav-link" id="vert-tabs-newnode-tab" data-toggle="pill" href="#vert-tabs-newnode" role="tab"
            aria-controls="vert-tabs-newnode" aria-selected="false">What are the prerequisites to create a new node?</a>
          <a class="nav-link" id="vert-tabs-node-schema-tab" data-toggle="pill" href="#vert-tabs-node-schema" role="tab"
            aria-controls="vert-tabs-node-schema" aria-selected="false">How to define the JSON schema of a new
            nodetype?</a>
          <a class="nav-link" id="vert-tabs-node-schema-change-tab" data-toggle="pill"
            href="#vert-tabs-node-schema-change" role="tab" aria-controls="vert-tabs-node-schema-change"
            aria-selected="false">How to change the JSON schema of existing nodes?</a>
          <a class="nav-link" id="vert-tabs-relationships-tab" data-toggle="pill" href="#vert-tabs-relationships"
            role="tab" aria-controls="vert-tabs-relationships" aria-selected="false">How are relationships between nodes
            defined?
          </a>
          <a class="nav-link" id="vert-tabs-list-tab" data-toggle="pill" href="#vert-tabs-list" role="tab"
            aria-controls="vert-tabs-list" aria-selected="false">How to define a list?
          </a>
          <a class="nav-link" id="vert-tabs-graph-tab" data-toggle="pill" href="#vert-tabs-graph" role="tab"
            aria-controls="vert-tabs-graph" aria-selected="false">How to define a graph?
          </a>
          <a class="nav-link" id="vert-tabs-confluence-tab" data-toggle="pill" href="#vert-tabs-confluence" role="tab"
            aria-controls="vert-tabs-confluence" aria-selected="false">How to enable document update in Confluence when
            node changes?
          </a>
        </div>
      </div>
      <div class="col-7 col-sm-9">
        <div class="tab-content" id="vert-tabs-tabContent">
          <div class="tab-pane text-left fade show active" id="vert-tabs-concepts" role="tabpanel"
            aria-labelledby="vert-tabs-concepts-tab">
            <ul>
              <li><code class="highlighter-rouge">Schema</code>: <a href="https://json-schema.org/">JSON schema</a> to
                define the attributes of a node,
                schema
                for a list or graph.</li>
              <li><code class="highlighter-rouge">Node Type</code>: Defines the type of nodes and other related
                attributes.</li>
              <li><code class="highlighter-rouge">Edge Type</code>: Defines the allowed relationships between node
                types.</li>
              <li><code class="highlighter-rouge">Node</code>: An entity in the IT environment, can be hardware,
                software, service or anything.</li>
              <li><code class="highlighter-rouge">Edge</code>: Relationships between different nodes. Every node defines
                its outbound edges.</li>
              <li><code class="highlighter-rouge">List</code>: A list is created by selecting attributes and node
                selection criteria to display similar nodes in a HTML table. (e.g. a list of all services in the
                environment)</li>
              <li><code class="highlighter-rouge">Graph</code>: Similar to a list, but displayed as a diagram. (e.g. a
                diagram of all services and their
                relationships )
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="vert-tabs-newnode" role="tabpanel" aria-labelledby="vert-tabs-newnode-tab">
            <p>Please follow the following procedures.</p>
            <ul>
              <li>Define the attributes schema for the node type. The schema will be rendered as HTML objects when
                creating
                the node.</li>
              <li>Define the node type. Select the previously defined schema for the node type.</li>
              <li>Define allowed edge types for the node type. Both in and out edge types should be defined.</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="vert-tabs-node-schema" role="tabpanel"
            aria-labelledby="vert-tabs-node-schema-tab">
            <p>The attributes schema of a node type will be used to render the HTML forms when creating the
              node.
            </p>
            <blockquote class="quote-info">
              <h5>Note!</h5>
              <p>We are currently using <a href="https://github.com/json-editor/json-editor">json-editor</a> as the
                rendering engine. Please note that only JSON Schema 4 is support by the library. Besides the offical
                specification of JSON schema, a few UI related attributes can be added to the schema, refer to
                <a href="https://github.com/json-editor/json-editor#json-schema-support">JSON Schema Support</a> for
                more details.
              </p>
            </blockquote>
            <p>Here are a few recommendations from our side:</p>
            <ul>
              <li>For simplicity, do not use schema references.</li>
              <li>Do not define attributes whose type is an Array.</li>
              <li>Use <code class="highlighter-rouge">format</code> keyword for better display (e.g. datetime).</li>
              <li>Use <code class="highlighter-rouge">infoText</code> over <code
                  class="highlighter-rouge">description</code>.</li>
              <li>Define <code class="highlighter-rouge">minimum</code> if it's a required attribute.</li>
              <li>Always set <code class="highlighter-rouge">additionalProperties</code> to <code
                  class="highlighter-rouge">false</code></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="vert-tabs-node-schema-change" role="tabpanel"
            aria-labelledby="vert-tabs-node-schema-change-tab">
            <blockquote class="quote-warning">
              <h5>Note!</h5>
              <p>Make sure that you always set <code class="highlighter-rouge">additionalProperties</code> to
                <code class="highlighter-rouge">false</code> when defining schema for node
                attributes.
              </p>
            </blockquote>
            <ul>
              <li>Add a new attribute: If the attribute is a required attribute, just enter the data in the filed in the
                update page. If it's not required, Click the <i>Properties</i> button to include the new attribute to
                the HTML form.</li>
              <li>Delete an existing attribute: Update the node again in the update page, the reduntant attributes will
                be removed automatically.</li>
            </ul>
            <p>TODO: A warning icon will be displayed in the nodes list page if the node has some schema errors.</p>
          </div>
          <div class="tab-pane fade" id="vert-tabs-relationships" role="tabpanel"
            aria-labelledby="vert-tabs-relationships-tab">
            <p>First of all, the edge type should be already existing before you link two nodes. The edge is always
              defined in
              the node as it's outbound relationship. For example, if nodeA is part of nodeB, then the relationship
              <i>isPartOf</i> is defined in nodeA.
            </p>
          </div>
          <div class="tab-pane fade" id="vert-tabs-list" role="tabpanel" aria-labelledby="vert-tabs-list-tab">
            <p>First define the list schema in the Schemas section. Click the
              text area to expand.</p>
            <textarea>
    {
      "$id": "list.json",
      "type": "object",
      "$schema": "http://json-schema.org/draft-04/schema#",
      "required": [
        "nodes",
        "title"],
      "properties": {
        "nodes": {
          "$ref": "#/definitions/nodes"
        },
        "title": {
          "type": "string",
          "title": "Title of Link"
        },
        "value": {
          "type": "string",
          "title": "Value"
        },
        "status": {
          "type": "string",
          "title": "Status"
        },
        "consumers": {
          "type": "string",
          "title": "Consumers"
        },
        "description": {
          "type": "string",
          "title": "Description"
        }
      },
      "definitions": {
        "nodes": {
          "type": "object",
          "title": "Nodes",
          "properties": {
            "edges": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Type",
              "minItems": 0,
              "uniqueItems": true
            },
            "filter": {
              "$ref": "#/definitions/nodeFilterDef"
            },
            "orderby": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "order by",
              "minItems": 0,
              "uniqueItems": true
            },
            "selection": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Selection",
              "minItems": 0,
              "uniqueItems": true
            },
            "attributes": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Attributes",
              "minItems": 0,
              "uniqueItems": true
            },
            "edgeDirection": {
              "type": "string",
              "title": "filter edges by direction"
            }
          },
          "description": "The node object",
          "additionalProperties": false
        },
        "edgeFilterDef": {
          "type": "object",
          "title": "FilterDefintion",
          "required": [
            "types"],
          "properties": {
            "types": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Types",
              "minItems": 0,
              "uniqueItems": true
            }
          },
          "description": "The filter definition for edges",
          "additionalProperties": false
        },
        "nodeFilterDef": {
          "type": "object",
          "title": "FilterDefintion",
          "required": [
            "types",
            "selection"],
          "properties": {
            "types": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Types",
              "minItems": 1,
              "uniqueItems": true
            },
            "method": {
              "enum": [
                "all",
                "onlyWithEdges",
                "selection",
                "selectionWithNeighbors",
                "parents"],
              "type": "string",
              "title": "Filter method"
            },
            "selection": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Selection",
              "minItems": 0,
              "uniqueItems": true
            }
          },
          "description": "The filter definition for nodes",
          "additionalProperties": false
        }
      },
      "additionalProperties": false
    }
            </textarea>
            <p>Then define the list in JSON format according to the schema. Remember to remove the comments. Example:
            </p>
            <textarea>
    {
      "title": "Component Contacts",
      "value": "",
      "status": "Testing",
      "consumers": "",
      "description": "",
      "nodes": {
        "attributes": ["name", "contact", "responsible"], // Columns
        "edges": ["responsibleDepartment"], // Columns, regular expression accepted
        "filter": {
          "types" : ["Component"], // regular expression accepted
          "selection": [] // not supported yet
        },
        "orderby": ["name"], // not supported yet
        "edgeDirection": "out" // "in", "out", "both" or empty
      }
    }
           </textarea>

          </div>
          <div class="tab-pane fade" id="vert-tabs-graph" role="tabpanel" aria-labelledby="vert-tabs-graph-tab">
            <p>First define the graph schema in the Schemas section. Click the text area to expand.</p>
            <textarea>
    {
      "$id": "graph.json",
      "type": "object",
      "$schema": "http://json-schema.org/draft-04/schema#",
      "required": [
          "nodes",
          "edges",
          "title"],
      "properties": {
          "edges": {
          "$ref": "#/definitions/edges"
          },
          "nodes": {
          "$ref": "#/definitions/nodes"
          },
          "title": {
          "type": "string",
          "title": "Title of Graph"
          },
          "value": {
          "type": "string",
          "title": "The value of the graph"
          },
          "status": {
          "type": "string",
          "title": "Status of the graph"
          },
          "consumers": {
          "type": "string",
          "title": "Users consuming the graph"
          },
          "description": {
          "type": "string",
          "title": "Description of the graph"
          }
      },
      "definitions": {
          "edges": {
          "type": "object",
          "required": [
              "filter"],
          "properties": {
              "filter": {
              "$ref": "#/definitions/edgeFilterDef"
              }
          },
          "additionalProperties": true
          },
          "nodes": {
          "type": "object",
          "title": "Nodes",
          "properties": {
              "types": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "Types",
              "minItems": 1,
              "uniqueItems": true
              },
              "filter": {
              "$ref": "#/definitions/nodeFilterDef"
              },
              "groupby": {
              "type": "string",
              "title": "group by"
              },
              "orderby": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "order by",
              "minItems": 0,
              "uniqueItems": true
              },
              "colorize": {
              "type": "object",
              "oneOf": [
                  {
                  "$ref": "#/definitions/colorizeByCriteria"
                  },
                  {
                  "$ref": "#/definitions/colorizeByEdge"
                  },
                  {
                  "$ref": "#/definitions/colorizeByAttribute"
                  },
                  {
                  "$ref": "#/definitions/colorizeByType"
                  }]
              }
          },
          "description": "The node object",
          "additionalProperties": false
          },
          "edgeFilterDef": {
          "type": "object",
          "title": "FilterDefintion",
          "required": [
              "types"],
          "properties": {
              "types": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "Types",
              "minItems": 0,
              "uniqueItems": true
              }
          },
          "description": "The filter definition for edges",
          "additionalProperties": false
          },
          "nodeFilterDef": {
          "type": "object",
          "title": "FilterDefintion",
          "required": [
              "method",
              "types",
              "selection"],
          "properties": {
              "types": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "Types",
              "minItems": 1,
              "uniqueItems": true
              },
              "method": {
              "enum": [
                  "all",
                  "onlyWithEdges",
                  "selection",
                  "selectionWithNeighbors",
                  "parents"],
              "type": "string",
              "title": "Filter method"
              },
              "selection": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "Selection",
              "minItems": 0,
              "uniqueItems": true
              }
          },
          "description": "The filter definition for nodes",
          "additionalProperties": false
          },
          "colorizeByEdge": {
          "type": "object",
          "title": "Colorize By Edge",
          "required": [
              "method",
              "edgeType"],
          "properties": {
              "method": {
              "enum": [
                  "byEdge"],
              "type": "string",
              "title": "Colorization Type"
              },
              "edgeType": {
              "type": "string",
              "title": "Edge Type"
              }
          },
          "description": "The colorize object for colorizations by edge",
          "additionalProperties": false
          },
          "colorizeByType": {
          "type": "object",
          "title": "Colorize By Type",
          "required": [
              "method"],
          "properties": {
              "method": {
              "enum": [
                  "byType"],
              "type": "string",
              "title": "Colorization Type"
              }
          },
          "description": "The colorize object for colorizations by type",
          "additionalProperties": false
          },
          "coloringCriterium": {
          "type": "object",
          "title": "Coloring Criterium",
          "required": [
              "color",
              "values"],
          "properties": {
              "color": {
              "type": "string",
              "title": "Criterium Color"
              },
              "values": {
              "type": "array",
              "items": {
                  "type": "string"
              },
              "title": "Coloring Criteria Value Array",
              "minItems": 1,
              "uniqueItems": true
              }
          },
          "description": "The attribute criterium by which to colorize node",
          "additionalProperties": false
          },
          "colorizeByCriteria": {
          "type": "object",
          "title": "Colorize By Criteria",
          "required": [
              "method",
              "attribute",
              "criteria"],
          "properties": {
              "method": {
              "enum": [
                  "byCriteria"],
              "type": "string",
              "title": "Colorization Type"
              },
              "groupby": {
              "type": "string",
              "title": "group by"
              },
              "criteria": {
              "type": "array",
              "items": {
                  "$ref": "#/definitions/coloringCriterium"
              },
              "title": "Coloring Criteria Array",
              "minItems": 1,
              "uniqueItems": true
              },
              "attribute": {
              "type": "string",
              "title": "Attribute"
              },
              "defaultColor": {
              "type": "string",
              "title": "Default Color"
              }
          },
          "description": "The colorize object for colorizations by criteria",
          "additionalProperties": false
          },
          "colorizeByAttribute": {
          "title": "Colorize By Attribute",
          "method": "object",
          "required": [
              "method",
              "attribute"],
          "properties": {
              "method": {
              "enum": [
                  "byAttribute"],
              "type": "string",
              "title": "Colorization Type"
              },
              "attribute": {
              "type": "string",
              "title": "Attribute"
              }
          },
          "description": "The colorize object for colorizations by attribute",
          "additionalProperties": false
          }
      },
      "additionalProperties": false
    }
            </textarea>

            <p>Then define the list in JSON format according to the schema. Remember to remove the comments. Example:
            </p>
            <textarea>
    {
      "title": "title of the graph",
      "nodes": {
        "filter": {
          "method": "all | parents | selection | selectionWithNeighbours | onlyWithEdges",
          "types": ["service"], // regular expression accepted
          "selection": [] // TODO Regular Experession
        },
        "groupby" : "isDomainOf" // TODO
      },
      "edges" : {
        "filter": {
          "types": ["isServiceOf"]  // regular expression accepted
        }
      }
    }
            </textarea>
            <p>Explaination of method:</p>
            <ul>
              <li><code class="highlighter-rouge">all</code>: Define a graph of all nodes with the specified nodetype
                and the specified edge types between the
                nodes. "selection" field is ignored.</li>
              <li><code class="highlighter-rouge">onlyWithEdges</code>: Similar to "all", but the nodes without the
                specified edges are ignored.</li>
              <li><code class="highlighter-rouge">selection</code>: Similar to "all", but ignores all nodes that are not
                in the "selection" field.</li>
              <li><code class="highlighter-rouge">selectionWithNeigbours</code>: Similar to "selection". Not only nodes
                in "selection" are included, but also
                their
                parents and children by the defined edge (one level).</li>
              <li><code class="highlighter-rouge">parents</code>: Similar to "selection", but gets all nodes of the
                specified edgetype recursively.</li>
            </ul>
            <p><code class="highlighter-rouge">groupby</code>: Group nodes in a UMTL type folder by edgetype. Currently
              not implemented yet.</p>
          </div>
          <div class="tab-pane fade" id="vert-tabs-confluence" role="tabpanel"
            aria-labelledby="vert-tabs-confluence-tab">
            <p>This currently only works for node with type <code class="highlighter-rouge">component</code>.</p>
            <ol>
              <li>You should enable automated docupedia update function when booting up the tool. Refer to the
                <code class="highlighter-rouge">Advanced Topics</code> section of the documentation.</li>
              <li>An empty page in Confluence must be created before hand.</li>
              <li>Set <code class="highlighter-rouge">Primary Documentation System</code> to <code
                  class="highlighter-rouge">ARC001</code> in node update page.</li>
              <li>Set <code class="highlighter-rouge">Docupedia Page</code> to the tiny URL of the Confluence page in
                node update page.</li>
            </ol>
            <p>
              <p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- CodeMirror -->
<script src="{% static "plugins/codemirror/codemirror.js" %}"></script>
<script src="{% static "plugins/codemirror/mode/javascript/javascript.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldcode.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldgutter.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/brace-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/indent-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/comment-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/matchbrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/closebrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/lint.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/json-lint.js" %}"></script>
<script src="{% static "plugins/jsonlint/jsonlint.js" %}"></script>
<script src="{% static "plugins/codemirror/formatting.js" %}"></script>
<script>
  $(function () {
    const tas = document.querySelectorAll("textarea");
    for (var i = 0; i < tas.length; i++) {
      var te_json = tas[i]
      window.editor_json = CodeMirror.fromTextArea(te_json, {
        mode: "application/ld+json",
        theme: "monokai",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        // viewportMargin: Infinity,
        lint: false,
        autoCloseBrackets: true,
        extraKeys: {
          "Ctrl-Q": function (cm) {
            cm.foldCode(cm.getCursor());
          },
          "F7": function autoFormat(cm) {
            var totalLines = cm.lineCount();
            cm.autoFormatRange({
              line: 0,
              ch: 0
            }, {
              line: totalLines
            });
          },
          "Ctrl-Y": cm => CodeMirror.commands.foldAll(cm),
          "Ctrl-I": cm => CodeMirror.commands.unfoldAll(cm),
        },
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"]
      });
    }
  })

</script>
{% endcompress %}

{% endblock extra_js %}
