{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} Schemas {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Schemas{% endblock page_name %}
{% block page_path %}Schemas{% endblock page_path %}

{% block extra_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Schemas</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>
              Key
            </th>
            <th>
              Description
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for schema in schema_list %}
          <tr>
            <td>
              <a>
                {{ schema.key }}
              </a>
            </td>
            <td>
              <a data-toggle="tooltip" class="tooltipLink" data-original-title="{{ schema.description }}">
                <i class="fas fa-info-circle"></i>
              </a>
            </td>
            <td class="project-actions text-right">
              <a class="btn btn-primary btn-sm btn-list" href="{% url "modeling:schema.update" schema.key %}">
                <i class="fas fa-pencil-alt">
                </i>
                View / Edit
              </a>
              <a class="btn btn-danger btn-sm btn-list" href=""
                data-url="{% url 'modeling:schema.delete' pk=schema.key %}"
                data-message="The schema and all related resources will be removed. This process cannot be undone."
                data-toggle="modal" data-target="#confirm-modal">
                <i class="fas fa-trash">
                </i>
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <a href="{% url "modeling:schema.create" %}" class="btn btn-sm btn-primary float-left">
        <i class="fas fa-plus"></i> New Schema
      </a>
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->

</section>

{% include "includes/_confirm_modal.html" %}

<!-- /.content-wrapper -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_js %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/pages/confirm_modal.js' %}"></script>
<script src="{% static 'js/pages/table.js' %}"></script>
<script src="{% static 'js/pages/tooltip.js' %}"></script>
{% endblock extra_js %}
