{% extends "layouts/base.html" %}

{% load static i18n compress%}

{% block title %} Node {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Node{% endblock page_name %}
{% block page_path %}Node{% endblock page_path %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="neighbor-graph-tab" data-toggle="pill" href="#neighbor-graph" role="tab"
                  aria-controls="neighbor-graph" aria-selected="true">Neighbor Graph</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="attributes-tab" data-toggle="pill" href="#attributes" role="tab"
                  aria-controls="attributes" aria-selected="false">Attributes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="edges-tab" data-toggle="pill" href="#edges" role="tab" aria-controls="edges"
                  aria-selected="false">Edges</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="data-quality-tab" data-toggle="pill" href="#data-quality" role="tab"
                  aria-controls="data-quality" aria-selected="false">DataQuality</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-five-tabContent">
              <div class="tab-pane fade show active" id="neighbor-graph" role="tabpanel"
                aria-labelledby="neighbor-graph-tab">
                <div id='graph'>
                </div>
              </div>
              <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                TODO
              </div>
              <div class="tab-pane fade" id="edges" role="tabpanel" aria-labelledby="edges-tab">
                TODO
              </div>
              <div class="tab-pane fade" id="data-quality" role="tabpanel" aria-labelledby="data-quality-tab">
                TODO
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block extra_js %}
<script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
<script>
  // Don't use window.onLoad like this in production, because it can only listen to one function.
  $(function () {
    function httpGet(theUrl) {
      if (window.XMLHttpRequest) {
        xmlhttp = new XMLHttpRequest();
      } else {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          $("#graph").append(xmlhttp.responseText);
        }
      }
      xmlhttp.open("GET", theUrl + "&preventCache=" + new Date(), false);
      xmlhttp.send();
    }
    httpGet("{{ graphurl|safe }}")

    svgPanZoom('svg', {
      zoomEnabled: true,
      controlIconsEnabled: true
    });
  });

</script>
{% endblock%}
