{% extends "layouts/base.html" %}

{% load static i18n compress%}

{% block title %} Node {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}{{ node.key }} ({{ node.nodetype }}){% endblock page_name %}
{% block page_path %}Node{% endblock page_path %}

{% block extra_css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-five-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="neighbor-graph-tab" data-toggle="pill" href="#neighbor-graph" role="tab"
                  aria-controls="neighbor-graph" aria-selected="true">Neighbor Graph</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="attributes-tab" data-toggle="pill" href="#attributes" role="tab"
                  aria-controls="attributes" aria-selected="false">Attributes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="edges-tab" data-toggle="pill" href="#edges" role="tab" aria-controls="edges"
                  aria-selected="false">Edges</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "nodes:node.update" node.key %}">Update</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-five-tabContent">
              <div class="tab-pane fade show active" id="neighbor-graph" role="tabpanel"
                aria-labelledby="neighbor-graph-tab">
                <div id='graph'>
                </div>
              </div>
              <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                <table class="table table-bordered table-striped table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Attribute</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, value in node.attributeSet.items %}
                    <tr>
                      <td>{{ key }}</td>
                      <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="edges" role="tabpanel" aria-labelledby="edges-tab">
                <table class="table table-bordered table-striped table-sm table-hover">
                  <thead>
                    <tr>
                      <th>Source</th>
                      <th>EdgeType</th>
                      <th>Target</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for edge in outbound_edges %}
                    <tr>
                      <td>self</td>
                      <td>{{ edge.edge_type.edgetype }}</td>
                      <td>{{ edge.target }}</td>
                    </tr>
                    {% endfor %}
                    {% for edge in inbound_edges %}
                    <tr>
                      <td>{{ edge.source }}</td>
                      <td>{{ edge.edge_type.edgetype }}</td>
                      <td>self</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock content %}

{% block extra_js %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script src="{% static 'plugins/svg-pan-zoom/svg-pan-zoom.min.js'%}"></script>
<script>
  // Don't use window.onLoad like this in production, because it can only listen to one function.
  $(function () {
    function httpGet(theUrl) {
      if (window.XMLHttpRequest) {
        xmlhttp = new XMLHttpRequest();
      } else {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          $("#graph").append(xmlhttp.responseText);
          $("svg").css("max-width", "100%");
        }
      }
      xmlhttp.open("GET", theUrl + "&preventCache=" + new Date(), false);
      xmlhttp.send();
    }
    httpGet("{{ graphurl|safe }}")

    svgPanZoom('svg', {
      zoomEnabled: true,
      controlIconsEnabled: true
    });

    $("table").DataTable({
      "paging": true,
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });

  });

</script>
{% endblock%}
