{% extends "layouts/base.html" %}

{% load static i18n compress %}

{% block title %} Nodes {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Node Update{% endblock page_name %}
{% block page_path %}Node Update{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- flatpickr -->
<link rel="stylesheet" href="{% static 'plugins/flatpickr/flatpickr.min.css' %}">
<style>
  .invalid-feedback {
    font-weight: bold;
  }

</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ node.key }}</h3>
        </div>
        <div class="card-body">
          <div class="bs-stepper" id='mystepper'>
            <div class="bs-stepper-header" role="tablist">
              <!-- your steps here -->
              <div class="step" data-target="#details-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="details-part"
                  id="details-part-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Node details</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#edges-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="edges-part"
                  id="edges-part-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Outbound edges</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#validate-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="validate-part"
                  id="validate-part-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Validate</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form class="needs-validation" onSubmit="return false" novalidate>
                {% csrf_token %}
                <!-- details -->
                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="nodekey" class="col-form-label requiredField">Node Key
                      </label>
                      <input type="text" name="nodekey" value="{{node.key}}" class="form-control" readonly="True"
                        id="nodekey">
                    </div>
                    <div class="col-md-6">
                      <label for="nodetype" class="col-form-label requiredField">Node Type</label>
                      <input type="text" name="nodetype" value="{{node.nodetype}}"
                        data-nodetype-key="{{node.nodetype.key}}" class="form-control" readonly="True" id="nodetype">
                    </div>
                  </div>
                  <div id='editor_holder'></div>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- edges -->
                <div id="edges-part" class="content" role="tabpanel" aria-labelledby="edges-part-trigger">
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-success mb-3" id="add-edge">
                        <i class="fas fa-plus"></i>
                        <span>Add Edge</span>
                      </button>
                    </div>
                  </div>
                  <div id="edges">
                    {% for edge in outbound_edges %}
                    <div class="row edge-row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <select class="form-control select edgetype-select" data-edge-type="{{ edge.edge_type.id }}"
                            required></select>
                          <div class="invalid-feedback"><strong>This field is required.</strong></div>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group">
                          <select class="form-control select node-select" data-target-node="{{ edge.target.key }}"
                            required></select>
                          <div class="invalid-feedback"><strong>This field is required.</strong></div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <a class="btn remove-edge" style="color:red">
                          <i class="fas fa-trash remove-edge">
                          </i>
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- validate -->
                <div id="validate-part" class="content" role="tabpanel" aria-labelledby="validate-part-trigger">
                  <div id='node-validate'></div>
                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button type="submit" class="btn btn-primary btn-list" id="submit-data">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- flatpickr -->
<script src="{% static 'plugins/flatpickr/flatpickr.min.js' %}"></script>
<!-- jsoneditor -->
<script src="{% static 'plugins/json-editor/jsoneditor.min.js' %}"></script>
<script>
  $(function () {
    var nodetype = $('#nodetype').attr("data-nodetype-key")
    //function to initialize select2
    function initializeEdgetypeSelect() {
      $('select.edgetype-select').select2({
        theme: 'bootstrap4',
        placeholder: "Edge Type",
        ajax: {
          url: '/api/nodetypes/' + nodetype + '/edgetypes/',
          dataType: 'json',
          delay: 250
        }
      });
    }

    function initializeTargetNodeSelect() {
      $("select.node-select").select2({
        theme: 'bootstrap4',
        placeholder: "Target Node",
        ajax: {
          url: '/ajax/nodes/',
          dataType: 'json',
          data: function (params) {
            var query = {
              search: params.term,
              edgetype_id: $(this).attr("data-edgetype-id")
            }
            return query;
          },
          delay: 250
        }
      });
    }
    // bs-stepper
    var stepper = new Stepper($('.bs-stepper')[0], {
      //animation: true
    });
    $('.step-previous').on('click', function () {
      stepper.previous();
    });
    $('.step-next').on('click', function () {
      stepper.next();
    });
    var stepperElem = document.getElementById('mystepper');
    var form = $(".bs-stepper-content form");
    stepperElem.addEventListener('show.bs-stepper', function (event) {
      form.removeClass('was-validated');
      if (event.detail.from == 0) {
        const errors = editor.validate();

        if (errors.length) {
          event.preventDefault();
          // console.log(errors);
        }
      }
      if (event.detail.from == 1 && event.detail.to == 2) {
        var empty_edges = $('.edgetype-select').filter(function () {
          return $(this).val() === null
        }).length

        var empty_nodes = $('.node-select').filter(function () {
          return $(this).val() === null
        }).length

        if (empty_edges || empty_nodes) {
          event.preventDefault();
          form.addClass('was-validated');
        }
      }
    })

    // json-editor
    JSONEditor.defaults.options.theme = 'bootstrap4';
    JSONEditor.defaults.options.iconlib = 'fontawesome5';
    $.ajax({
      url: "/api/nodetypes/{{nodetype_key}}",
      success: function (data) {
        schema_key = data.attribute_schema;

        $.ajax({
          url: "/api/schemas/" + schema_key + "/",
          success: function (data) {
            //editor.destroy();
            $('#editor_holder').empty();
            editor = new JSONEditor(document.getElementById('editor_holder'), {
              schema: data.schema,
              disable_collapse: true,
              disable_edit_json: true,
              disable_properties: true,
              display_required_only: false,
              //show_opt_in: true,
              show_errors: "always"
            });
            $('.je-object__title').remove();
            node_attributes = '{{ node_attributes | safe }}'
            editor.setValue(JSON.parse(node_attributes))
          }
        });
      }
    });


    // select for preselected edges
    initializeEdgetypeSelect()
    initializeTargetNodeSelect()

    // Fetch the preselected item, and add to the control
    $('.edge-row').each(function () {
      var edgetypeSelect = $(this).find('select.edgetype-select')
      var nodeSelect = $(this).find('select.node-select')

      $.ajax({
        type: 'GET',
        url: '/api/edgetypes/' + edgetypeSelect.attr("data-edge-type") + '/select/'
      }).then(function (data) {
        // create the option and append to Select2
        var option = new Option(data.text, data.id, true, true);
        edgetypeSelect.append(option).trigger('change');

        // manually trigger the `select2:select` event
        edgetypeSelect.trigger({
          type: 'select2:select',
          params: {
            data: data
          }
        });
      });

      $.ajax({
        type: 'GET',
        url: '/ajax/nodes/' + nodeSelect.attr("data-target-node")
      }).then(function (data) {
        // create the option and append to Select2
        var option = new Option(data.text, data.id, true, true);
        nodeSelect.append(option).trigger('change');

        // manually trigger the `select2:select` event
        nodeSelect.trigger({
          type: 'select2:select',
          params: {
            data: data
          }
        });
      });

    });

    // edges
    $("#add-edge").on("click", function () {
      $("#edges").prepend(`<div class="row edge-row">
                            <div class="col-sm-5">
                              <div class="form-group">
                                <select class="form-control select edgetype-select" required></select>
                                <div class="invalid-feedback"><strong>This field is required.</strong></div>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-group">
                                <select class="form-control select node-select" required></select>
                                <div class="invalid-feedback"><strong>This field is required.</strong></div>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <a class="btn remove-edge" style="color:red">
                                <i class="fas fa-trash remove-edge">
                                </i>
                              </a>
                            </div>
                          </div>`);

      initializeEdgetypeSelect()
      initializeTargetNodeSelect()

      $('select.edgetype-select').on('select2:select', function (e) {
        var data = e.params.data;
        $(this).closest('div.edge-row').find('select.node-select').attr("data-edgetype-id", data.id);
      });

    });

    $(document).on("click", ".remove-edge", function () {
      $(this).closest('div.row').remove();
    });
  });

  // create node
  $("#submit-data").click(function (e) {
    e.preventDefault();
    edges = []
    $('.edge-row').each(function () {
      var edge = {
        edge_type: $(this).find('select.edgetype-select').val(),
        target: $(this).find('select.node-select').val()
      }

      edges.push(edge);
    });
    var nodedata = {
      attributeSet: editor.getValue(),
      edges: edges
    }
    console.log(nodedata);
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()
      }
    });

    $.ajax({
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify(nodedata),
      success: function (data, textStatus, jQxhr) {
        window.location.href = "/nodes/{{ node.key }}/";
      },
      error: function (jqXhr, textStatus, errorThrown) {
        console.log(jqXhr)
        console.log(textStatus)
        console.log(errorThrown)
      }
    })

  })

</script>
{% endcompress %}

{% endblock extra_js %}
