{% extends "layouts/base.html" %}

{% load static i18n compress crispy_forms_tags %}

{% block title %} Nodes {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Node Create{% endblock page_name %}
{% block page_path %}Node Create{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<style>
  .invalid-feedback {
    font-weight: bold;
  }

</style>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">New Node</h3>
        </div>
        <div class="card-body">
          <div class="bs-stepper" id='mystepper'>
            <div class="bs-stepper-header" role="tablist">
              <!-- your steps here -->
              <div class="step" data-target="#basic-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="basic-part"
                  id="basic-part-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Select Nodetype</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#details-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="details-part"
                  id="details-part-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Node details</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#edges-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="edges-part"
                  id="edges-part-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Outbound edges</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#validate-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="validate-part"
                  id="validate-part-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Validate</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form class="needs-validation" onSubmit="return false" novalidate>
                {% csrf_token %}
                <!-- basic -->
                <div id="basic-part" class="content" role="tabpanel" aria-labelledby="basic-part-trigger">
                  <div class="form-group">
                    <label for="nodekey">Node Key <span class="asteriskField">*</span></label>
                    <input type="text" name="nodekey" class="form-control" id="nodekey" placeholder="Node Key" required>
                    <div class="invalid-feedback"><strong>This field is required.</strong></div>
                  </div>
                  <div class="form-group">
                    <label for="nodetype">Node Type <span class="asteriskField">*</span> </label>
                    <select class="form-control select" name="nodetype" id="nodetype" required>
                    </select>
                    <div class="invalid-feedback"><strong>This field is required.</strong></div>
                  </div>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- details -->
                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">
                  <div id='editor_holder'></div>
                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- edges -->
                <div id="edges-part" class="content" role="tabpanel" aria-labelledby="edges-part-trigger">
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-success mb-3" id="add-edge">
                        <i class="fas fa-plus"></i>
                        <span>Add Edge</span>
                      </button>
                    </div>
                  </div>
                  <div id="edges">
                  </div>

                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- validate -->
                <div id="validate-part" class="content" role="tabpanel" aria-labelledby="validate-part-trigger">
                  <div id='node-validate'></div>
                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button type="submit" class="btn btn-primary btn-list" id="submit-data">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- jsoneditor -->
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script>
  $(function () {
    // select2
    // TODO support pagination
    $('#nodetype').select2({
      theme: 'bootstrap4',
      placeholder: "Node Type",
      allowClear: true,
      ajax: {
        url: '/modeling/ajax/nodetypes/',
        dataType: 'json',
        delay: 250
      }
    });

    // bs-stepper
    var stepper = new Stepper($('.bs-stepper')[0], {
      //animation: true
    });
    $('.step-previous').on('click', function () {
      stepper.previous();
    });
    $('.step-next').on('click', function () {
      stepper.next();
    });
    var stepperEl = document.getElementById('mystepper');
    var form = $(".bs-stepper-content form");
    stepperEl.addEventListener('show.bs-stepper', function (event) {
      form.removeClass('was-validated');
      if (event.detail.from == 0 && (!$("#nodekey").val().trim() || !$("#nodetype").val())) {
        event.preventDefault();
        form.addClass('was-validated');
      }
      if (event.detail.from == 1 && event.detail.to == 2) {
        const errors = editor.validate();

        if (errors.length) {
          event.preventDefault();
          // console.log(errors);
        }
      }
      if (event.detail.from == 2 && event.detail.to == 3) {
        var empty_edges = $('.edgetype-select').filter(function () {
          return $(this).val() === null
        }).length

        var empty_nodes = $('.node-select').filter(function () {
          return $(this).val() === null
        }).length

        if (empty_edges || empty_nodes) {
          event.preventDefault();
          form.addClass('was-validated');
        }
      }
    })

    // json-editor
    JSONEditor.defaults.options.theme = 'bootstrap4';
    JSONEditor.defaults.options.iconlib = 'fontawesome5';

    // change json editor when node type changes
    $('.select').on('change', function () {
      $.ajax({
        url: "/modeling/ajax/schema/" + this.value,
        success: function (data) {
          //editor.destroy();
          $('#editor_holder').empty();
          editor = new JSONEditor(document.getElementById('editor_holder'), {
            schema: data,
            disable_collapse: true,
            disable_edit_json: true,
            disable_properties: true,
            show_opt_in: true,
            show_errors: "always"
          });
          $('.je-object__title').remove();
        }
      });
    });

    // edges
    $("#add-edge").on("click", function () {
      $("#edges").prepend(`<div class="row edge-row">
                            <div class="col-sm-5">
                              <div class="form-group">
                                <select class="form-control select edgetype-select" required></select>
                                <div class="invalid-feedback"><strong>This field is required.</strong></div>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-group">
                                <select class="form-control select node-select" required></select>
                                <div class="invalid-feedback"><strong>This field is required.</strong></div>
                              </div>
                            </div>
                            <div class="col-sm-2">
                              <a class="btn remove-edge" style="color:red">
                                <i class="fas fa-trash remove-edge">
                                </i>
                              </a>
                            </div>
                          </div>`);

      $('select.edgetype-select').select2({
        theme: 'bootstrap4',
        placeholder: "Edge Type",
        ajax: {
          url: '/modeling/ajax/edgetypes/',
          dataType: 'json',
          delay: 250
        }
      });

      $("select.node-select").select2({
        theme: 'bootstrap4',
        placeholder: "Target Node",
        ajax: {
          url: '/ajax/nodes/',
          dataType: 'json',
          delay: 250
        }
      });
    });

    $(document).on("click", ".remove-edge", function () {
      $(this).closest('div.row').remove();
    });
  });

  // create node
  $("#submit-data").click(function (e) {
    e.preventDefault();
    edges = []
    $('.edge-row').each(function () {
      edge = {
        edge_type: $(this).find('select.edgetype-select').val(),
        target: $(this).find('select.node-select').val()
      }

      edges.push(edge);
    });
    var nodedata = {
      key: $("input#nodekey").val(),
      type: $("select#nodetype").val(),
      attributeSet: editor.getValue(),
      edges: edges
    }
    console.log(nodedata);
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()
      }
    });

    $.ajax({
      type: 'post',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify(nodedata),
      success: function (data, textStatus, jQxhr) {
        console.log(data)
        window.location.href = "/nodes";
      },
      error: function (jqXhr, textStatus, errorThrown) {
        console.log(jqXhr)
        console.log(textStatus)
        console.log(errorThrown)
      }
    })

  })

</script>
{% endcompress %}

{% endblock extra_js %}
