{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} Nodes {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Node Create{% endblock page_name %}
{% block page_path %}Node Create{% endblock page_path %}

{% block extra_css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
<!-- flatpickr -->
<link rel="stylesheet" href="{% static 'plugins/flatpickr/flatpickr.min.css' %}">
<style>
  .invalid-feedback {
    font-weight: bold;
  }

</style>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-edit"></i> New Node</h3>
        </div>
        <div class="card-body">
          <div class="bs-stepper" id='mystepper'>
            <div class="bs-stepper-header" role="tablist">
              <!-- your steps here -->
              <div class="step" data-target="#basic-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="basic-part"
                  id="basic-part-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Select Nodetype</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#details-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="details-part"
                  id="details-part-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Node details</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#edges-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="edges-part"
                  id="edges-part-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Outbound edges</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#validate-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="validate-part"
                  id="validate-part-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Validate</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form class="needs-validation" onSubmit="return false" novalidate>
                {% csrf_token %}
                <!-- basic -->
                <div id="basic-part" class="content" role="tabpanel" aria-labelledby="basic-part-trigger">
                  <div class="form-group">
                    <label for="nodekey">Node Key <span class="asteriskField">*</span></label>
                    <input type="text" name="nodekey" class="form-control" id="nodekey" placeholder="Node Key" required>
                    <div class="invalid-feedback"><strong>This field is required.</strong></div>
                  </div>
                  <div class="form-group">
                    <label for="nodetype">Node Type <span class="asteriskField">*</span> </label>
                    <select class="form-control select" name="nodetype" id="nodetype" required>
                    </select>
                    <div class="invalid-feedback"><strong>This field is required.</strong></div>
                  </div>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- details -->
                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">
                  <div id='editor_holder'></div>
                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- edges -->
                <div id="edges-part" class="content" role="tabpanel" aria-labelledby="edges-part-trigger">
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-success mb-3" id="add-edge">
                        <i class="fas fa-plus"></i>
                        <span>Add Edge</span>
                      </button>
                    </div>
                  </div>
                  <div id="edges">
                  </div>

                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button class="btn btn-primary btn-list step-next">Next</button>
                </div>
                <!-- validate -->
                <div id="validate-part" class="content" role="tabpanel" aria-labelledby="validate-part-trigger">
                  <div id='node-validate' class="alert alert-error">Validation Errors: {}</div>
                  <button class="btn btn-primary btn-list step-previous">Previous</button>
                  <button type="submit" class="btn btn-primary btn-list" id="submit-data">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}

{% block extra_js %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- flatpickr -->
<script src="{% static 'plugins/flatpickr/flatpickr.min.js' %}"></script>
<!-- jsoneditor -->
<script src=" {% static 'plugins/json-editor/jsoneditor.min.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/pages/nodes_new.js' %}"></script>
{% endblock extra_js %}
