{% extends "layouts/base.html" %}

{% load static i18n compress crispy_forms_tags %}

{% block title %} Nodes {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Node Create{% endblock page_name %}
{% block page_path %}Node Create{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- BS Stepper -->
<link rel="stylesheet" href="{% static 'plugins/bs-stepper/css/bs-stepper.min.css' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">New Node</h3>
        </div>
        <div class="card-body p-0">
          <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
              <!-- your steps here -->
              <div class="step" data-target="#basic-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="basic-part"
                  id="basic-part-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Select Nodetype</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#details-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="details-part"
                  id="details-part-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Node details</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#edges-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="edges-part"
                  id="edges-part-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Outbound edges</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#validate-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="validate-part"
                  id="validate-part-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">Validate</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form class="needs-validation" onSubmit="return false" novalidate>
                <!-- basic -->
                <div id="basic-part" class="content" role="tabpanel" aria-labelledby="basic-part-trigger">
                  <div class="form-group">
                    <label for="nodekey">Node Key <span class="asteriskField">*</span></label>
                    <input type="text" name="nodekey" class="form-control" id="nodekey" placeholder="Node Key">
                    <div class="invalid-feedback">Please fill the node key</div>
                  </div>
                  <div class="form-group">
                    <label for="nodetype">Node Type <span class="asteriskField">*</span> </label>
                    <select class="form-control select" name="nodetype" id="nodetype">
                      <option value="GeneralNodeAttributes">GeneralNodeAttributes</option>
                      <option value="ComponentAttributes">ComponentAttributes</option>
                    </select>
                  </div>
                  <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                </div>
                <!-- details -->
                <div id="details-part" class="content" role="tabpanel" aria-labelledby="details-part-trigger">
                  <div id='editor_holder'></div>
                  <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                  <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                </div>
                <!-- edges -->
                <div id="edges-part" class="content" role="tabpanel" aria-labelledby="edges-part-trigger">
                  <button class="btn btn-success" id="add-edge">
                    <i class="fas fa-plus"></i>
                    <span>Add Edge</span>
                  </button>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <select class="form-control select">
                          <option value="runsOn">runsOn</option>
                          <option value="isProductOf">isProductOf</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" name="edge" class="form-control" id="edge" placeholder="Edge Type">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <a class="btn" style="color:red">
                        <i class="fas fa-trash">
                        </i>
                      </a>
                    </div>
                  </div>
                  <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                  <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                </div>
                <!-- validate -->
                <div id="validate-part" class="content" role="tabpanel" aria-labelledby="validate-part-trigger">
                  <div id='node-validate'></div>
                  <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static 'plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script>
  $(document).ready(function () {
    $('.select').select2({
      theme: 'bootstrap4'
    });
  });
  var stepper = new Stepper($('.bs-stepper')[0], {
    //animation: true
  });

  // Initialize the editor with a JSON schema
  JSONEditor.defaults.options.theme = 'bootstrap4';
  $.ajax({
    url: "/modeling/schemaapi/" + $('.select').val(),
    success: function (data) {
      editor = new JSONEditor(document.getElementById('editor_holder'), {
        schema: data,
        disable_collapse: true,
        //disable_edit_json: true,
        disable_properties: true
        //show_opt_in: true,
        //show_errors: "interaction"
      });
    }
  });

  $('.select').on('change', function () {
    $.ajax({
      url: "/modeling/schemaapi/" + this.value,
      success: function (data) {
        editor.destroy();
        editor = new JSONEditor(document.getElementById('editor_holder'), {
          schema: data,
          disable_collapse: true,
          //disable_edit_json: true,
          disable_properties: true
          //show_opt_in: true,
          //show_errors: "interaction"
        });
      }
    });

  });

</script>
{% endcompress %}

{% endblock extra_js %}
