{% extends "layouts/base.html" %}

{% load static i18n compress crispy_forms_tags%}

{% block title %} List Edit {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}List Edit{% endblock page_name %}
{% block page_path %}List Edit{% endblock page_path %}

{% block extra_css %}
{% compress css %}
<!-- CodeMirror -->
<link rel="stylesheet" href="{% static "plugins/codemirror/codemirror.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/theme/monokai.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/fold/foldgutter.css" %}">
<link rel="stylesheet" href="{% static "plugins/codemirror/addon/lint/lint.css" %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ listdef.key }}</h3>
        </div>
        {%  crispy form  %}
        <div class="overlay dark" id="cm-loading">
          <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->

  <div class="modal fade" id="modal-diff">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <textarea id="codemirror_modal" class="p-3"></textarea>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
{% endblock content %}

{% block extra_js %}
{% compress js %}
<!-- CodeMirror -->
<script src="{% static "plugins/codemirror/codemirror.js" %}"></script>
<script src="{% static "plugins/codemirror/mode/javascript/javascript.js" %}"></script>
<script src="{% static "plugins/codemirror/mode/diff/diff.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldcode.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/foldgutter.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/brace-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/indent-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/fold/comment-fold.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/matchbrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/edit/closebrackets.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/lint.js" %}"></script>
<script src="{% static "plugins/codemirror/addon/lint/json-lint.js" %}"></script>
<script src="{% static "plugins/jsonlint/jsonlint.js" %}"></script>
<script src="{% static "plugins/codemirror/formatting.js" %}"></script>
<script src="{% static "plugins/jsdiff/diff.min.js" %}"></script>
<script src="{% static 'js/pages/codemirror.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.select').select2({
      theme: 'bootstrap4'
    });
  });
  var te = document.getElementById("codemirror_modal");
  var editor_diff = CodeMirror.fromTextArea(te, {
    mode: "text/x-diff",
    theme: "monokai",
  });

  $('#modal-diff').on('shown.bs.modal', function (e) {
    $.ajax({
      url: "/listapi/{{ listdef.key }}",
      success: function (data) {
        original = JSON.stringify(data, null, 2);
        ta_str = editor_json.getValue()
        updated = JSON.stringify(JSON.parse(ta_str), null, 2);
        editor_diff.setValue(Diff.createPatch("", original, updated))
      }
    });
  })

</script>
{% endcompress %}
{% endblock extra_js %}
