{% extends "layouts/base.html" %}

{% load static i18n compress crispy_forms_tags%}

{% block title %} EdgeType Edit {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}EdgeType Edit{% endblock page_name %}
{% block page_path %}EdgeType Edit{% endblock page_path %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ node_type.key }}</h3>
        </div>
        {% crispy form %}
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}
