{% extends "layouts/base.html" %}

{% load static i18n compress account socialaccount crispy_forms_tags %}

{% block title %} Sign in {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
<!-- Override the form error message style -->
<style>
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
  }

</style>
{% endblock %}

{% block body_class %} login-page {% endblock body_class %}

{% block content_wrapper %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"><b>ArchitectureTool</b></a>
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <!--
        {% if form.errors %}
        {%     for field in form %}
        {%         for error in field.errors %}
        <div class="alert alert-error">
          <strong>{{ error|escape }}</strong>
        </div>
        {%         endfor %}
        {%     endfor %}
        {%     for error in form.non_field_errors %}
        <div class="alert alert-error">
          <strong>{{ error|escape }}</strong>
        </div>
        {%     endfor %}
        {% endif %}
      -->
      {% crispy form %}

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="{% provider_login_url "gitlab" process="login" %}" class="btn btn-block btn-danger">
          <i class="fab fa-gitlab mr-2"></i> Sign in using Gitlab
        </a>
      </div>
      <!-- /.social-auth-links -->

      <!--
      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="{{ signup_url }}" class="text-center">Register a new membership</a>
      </p>
      -->
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock content_wrapper %}
