{% extends "layouts/base.html" %}

{% load static i18n compress crispy_forms_tags%}

{% block title %} Nodetype Edit {% endblock %}

{% block extra_css %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}NodeType Edit{% endblock page_name %}
{% block page_path %}NodeType Edit{% endblock page_path %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{ node_type.key }}</h3>
        </div>
        {% crispy form %}
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.container-fluid -->
</div>
{% endblock content %}

{% block extra_js %}
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.select').select2({
      theme: 'bootstrap4'
    });
  });

</script>
{% endblock %}
