{% extends "layouts/base.html" %}

{% load static i18n compress%}

{% block title %} Graphs {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block page_name %}Graphs{% endblock page_name %}
{% block page_path %}Graphs{% endblock page_path %}

{% block content %}
<section class="content">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Graphs</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th style="width: 1%">
              #
            </th>
            <th style="width: 20%">
              Key
            </th>
            <th style="width: 20%">
            </th>
          </tr>
        </thead>
        <tbody>
          {% for graph in graph_list %}
          <tr>
            <td>
              #
            </td>
            <td>
              <a>
                {{ graph.key }}
              </a>
            </td>
            <td class="project-actions text-right">
              <a class="btn btn-primary btn-sm" href="{% url "graphs:graph.detail" graph.key %}">
                <i class="fas fa-folder">
                </i>
                View
              </a>
              <a class="btn btn-info btn-sm" href="{% url "graphs:graph.update" graph.key %}">
                <i class="fas fa-pencil-alt">
                </i>
                Edit
              </a>
              <a class="btn btn-danger btn-sm" href="" data-url="{% url 'graphs:graph.delete' pk=graph.key %}"
                data-message="All related nodes will also be removed. This process cannot be undone."
                data-toggle="modal" data-target="#confirm-modal">
                <i class="fas fa-trash">
                </i>
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <a href="{% url "graphs:graph.create" %}" class="btn btn-sm btn-primary float-left">New Graph</a>
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->

</section>

{% include "includes/_confirm_modal.html" %}

<!-- /.content-wrapper -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block extra_js %}

{% compress js %}
<script src="{% static 'js/pages/confirm_modal.js' %}"></script>
{% endcompress %}

{% endblock extra_js %}
