{% load static i18n account socialaccount %}
{% load dashboard_helpers %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'images/logo.png' %}" alt="Architecture Tool Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Architecture Tool</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% avatar_url user %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{% user_display user %}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">CLOUD ARCHITECTURE</li>

        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link {% add_active '/' exact_match=True %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview {% add_menu_open "/schemas" %}">
          <a href="#" class="nav-link {% add_active "/schemas" %}">
            <i class="fas fa-shapes nav-icon"></i>
            <p>
              Schemas
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url "schema.node" %}" class="nav-link {% add_active "/schemas/node" %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Node Schema</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url "schema.list" %}" class="nav-link {% add_active "/schemas/list" %}">
                <i class="far fa-circle nav-icon"></i>
                <p>List Schema</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url "schema.graph" %}" class="nav-link {% add_active "/schemas/graph" %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Graph Schema</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview {% add_menu_open "/typedefs" %}">
          <a href="#" class="nav-link {% add_active "/typedefs" %}">
            <i class="fas fa-folder nav-icon"></i>
            <p>
              Types
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url "nodetype.list" %}" class="nav-link {% add_active "/typedefs/nodetypes" %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Node Types</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url "edgetype.list" %}" class="nav-link {% add_active "/typedefs/edgetypes" %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Edge Types</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{% url 'node.list'%}" class="nav-link {% add_active "/nodes" %}">
            <i class="fas fa-cubes nav-icon"></i>
            <p>
              Nodes
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'listdef.list'%}" class="nav-link {% add_active "/lists" %}">
            <i class="fas fa-list-ul nav-icon"></i>
            <p>
              Lists
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'graph.list'%}" class="nav-link {% add_active "/graphs" %}">
            <i class="nav-icon far fa-image"></i>
            <p>
              Graphs
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-file-code "></i>
            <p>
              APIs
            </p>
          </a>
        </li>

        <li class="nav-header">CLOUD FOUNDRY DIAGRAMS</li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-project-diagram"></i>
            <p>
              Deploy Diagrams
              <span class="right badge badge-danger">Alpha</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
